@import "tailwindcss";

@theme {
  --color-light: #FFFFFF;
  --color-primary-300: #FFCC21;
  --color-primary-400: #FF963C;
  --color-primary-500: #EA6C00;
  --color-secondary-300: #8FE9D0;

  --color-dark-600: #2E2E2E;
  --color-dark-500: #414141;
  --color-gray-400: #777777;

  --color-primary: var(--color-primary-400);
  --color-primary-light: var(--color-primary-300);
  --color-primary-dark: var(--color-primary-500);

  --color-background: var(--color-light);
  --color-surface: var(--color-light);

  --color-text-primary: var(--color-dark-500);
  --color-text-secondary: var(--color-gray-400);

  /* Fonts */
  --font-sans: "Inter", system-ui, sans-serif;
  --font-jp: "Noto Sans JP", "Inter", system-ui, sans-serif;

  /* Gradients */
  --image-gradient-primary: linear-gradient(180deg, #FFCC21 0%, #FF963C 100%);

  /* Text Sizes */
  --text-xs: 0.6875rem;
  --text-base: 0.8125rem;
  --text-base--line-height: 1.4375rem;

  --text-md: 1.125rem;
  --text-md--line-height: 1.625rem;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@utility bg-gradient-brand {
  background-image: var(--image-gradient-primary);
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #777777;
    border-radius: 3px;
    margin-block: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #FFCC21;
    border-radius: 3px;
  }
}